# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

.vscode/
.idea/
.ruff_cache/
.pytest_cache/
*.log

.tmp
.env
tests/tmp_pytest/
tests/vault_test_workspace/

# Interface e Sistema
*.spec
